## Namespace for LLAhclust
useDynLib("LLAhclust", inPartition)

## Generics and functions defined in this package
export("LLAhclust",
       "LLAsimobj",
       "LLAsimvar",
       "empcopula.simulate",
       "LLAparteval",
       #"LLAparteval.old",
       "names.LLAsim",
       "format.LLAsim",
       "as.matrix.LLAsim",
       "as.LLAsim",
       "print.LLAsim"
       )

#exportMethods()
#exportClasses()

useDynLib("LLAhclust")
